body{
    background: #00fff0;
}
h2{
    color: #fff00f;
}
h3{
    color: tomato;
}
image{
    float: right;
}
@media screen and (min-width: 480px) {
    body{
        background-color: hotpink;
        color: ivory;
    }  
}
@media screen and (min-width: 768px) {
    body {
      background-color: yellowgreen;
    }
  }
    